$fontFamily: "Fira Sans", sans-serif;
$regFontSize: 1.2em;
$headFontSize: 2.8em;
$formFont: 1em;
$darkBackcolor: #ffffff;
// $contrastColor:#EDED64;
$contrastColor: #fffc5b;
$mainBlue: #012132;
$auto: #000000;
$menuBackground: #000000;
$formInput: #cbcbcb;
$footerColor: #989898;
$animate: all 0.4s ease;
$transitionSpeed: 0.45s;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $fontFamily;
  font-size: 16px;
}
html {
  scroll-behavior: smooth;
}

@mixin vhflexCenter {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin externalSmalldevice {
  width: 120px;
  background-color: white;
  border-radius: 5px;
  box-shadow: -3px 3px 10px $mainBlue;
}
@mixin topLeftZ {
  top: 0;
  left: 0;
}
nav {
  //   height: 70vh;
  //   width: 20em;
  float: left;
  position: sticky;
  z-index: 3;
  top: 0px;
  left: 0px;
  // border: 2px solid white;

  .nav-container {
    .toggler {
      position: sticky;
      width: 50px;
      height: 50px;
      @include topLeftZ();
      z-index: 2;
      opacity: 0;
      cursor: pointer;

      &:checked + .hamburger > div {
        transform: rotate(135deg);
        transition: $animate;
        background-color: $menuBackground;

        //Make an X on check
        //collapse and extend div rotation
        &::before,
        &::after {
          top: 0;
          transform: rotate(90deg);
        }
      }
      &:checked:hover + .hamburger > div {
        transform: rotate(360deg);
        transition: $animate;
      }
      &:checked ~ .menu {
        display: flex;
        pointer-events: all;
      }
      &:checked ~ .menu > .overlay {
        transform: scale(1);
        transition: $animate;
        transition-duration: $transitionSpeed;
      }
      &:checked ~ .menu > .overlay > div {
        //    opacity: 0.75;
      }
    }
    .hamburger {
      position: absolute;
      @include topLeftZ();
      @include flexCenter();
      z-index: 1;
      background-color: rgba($color: #ffffff, $alpha: 0.5);
      border-radius: 5px;
      box-shadow: -3px 3px 10px $mainBlue;
      width: 60px;
      height: 60px;
      padding: 1em 1rem;

      > div {
        position: relative;
        background-color: $mainBlue;
        height: 2px;
        width: 100%;

        &::before,
        &::after {
          content: "";
          height: 2px;
          width: 100%;
          background: inherit;
          position: absolute;
          top: -10px;
          z-index: 1;
        }
        //adding hamburger bottom line
        &::after {
          top: 10px;
        }
      }
    }

    .menu {
      position: absolute;
      @include topLeftZ();
      @include flexCenter();
      height: 70vh;
      width: 20em;
      overflow: hidden;
      display: flex;
      border-radius: 0px 0px 50px 15px;
      pointer-events: none;

      .overlay {
        @include flexCenter();
        height: 150vw;
        width: 150vw;
        background-color: rgba($color: $menuBackground, $alpha: 0.9);
        transform: scale(0);
        transition: $animate;
        // border-radius: 150px;
        border-radius: 60%;

        div {
          width: 100vw;
          @include flexCenter();
          flex: none;
          //   height: 70vh;
          text-align: center;

          .nav-links li {
            list-style: none;
            // justify-content: space-around;
            margin: 15px;
            padding: 0.75em 0.75rem;
            color: $darkBackcolor;
            width: 100%;
            border-radius: 10px;

            &:hover {
              color: $auto;
              background-color: $contrastColor;
            }
            a {
              text-decoration: none;
              color: inherit;
              font-size: 1.8em;
              font-weight: 500;
              width: 20em;
            }
          }
        }
      }
    }
  }
}
.external-links {
  float: right;
  position: sticky;
  z-index: 4;
  top: 0px;
  right: 0px;
  @include externalSmalldevice();
  a {
    color: white;
    img {
      width: 50px;
      margin: 1px 0px;
      padding: 12px;
    }
  }
}
#home {
  height: 100vh;

  .background-image {
    height: 100%;
    background-image: url(../images/home.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    //    background: radial-gradient(#012132,#131621);
  }

  .home-container {
    @include vhflexCenter();
    flex-direction: column;
    transform: translate(-50%, -50%);
    position: absolute;
    top: -50%;
    left: 50%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
    position: relative;

    .brand {
      h1 {
        color: $darkBackcolor;
        font-size: 4em;
      }

      p {
        color: $contrastColor;
        padding-left: 5px;
      }
    }

    .home-nav,
    .home-nav a {
      text-decoration: none;
      font-weight: 200;
      text-transform: uppercase;
      color: $darkBackcolor;
      padding-top: 90px;

      text-align: center;
      margin: 0px 10px;
      & a:hover {
        color: $contrastColor;
        text-decoration: underline;
        transition: $animate;
      }
      b {
        color: $contrastColor;
      }
    }
    .scroll-container {
      position: absolute;
      width: 20%;
      right: 40%;
      bottom: 1.9em;
      text-align: center;

      .fas {
        font-size: 1.6em;
        color: $contrastColor;
        padding: 5px;
        display: block;
      }
      .mouse-scroll {
        text-decoration: none;
        color: $contrastColor;
        display: inline-block;
        .scroll-text {
          font-size: 0.65em;
        }
      }
    }
  }
}
#message {
  @include vhflexCenter();
  background: $contrastColor;
  color: $mainBlue;
  .content {
    padding: 20px;
    p {
      font-size: $regFontSize;
    }
  }
}
#projects {
  height: 100vh;
  h1 {
    text-align: center;
    margin: 40px 0px;
    font-size: $headFontSize;
  }
  .projects-container {
    @include flexCenter();
  }
  .grid-wrapper {
    width: 70%;
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, minmax(280px, 1fr));
    column-gap: 2.5em;
    row-gap: 2.5em;
  }
  .project-tile {
    background: linear-gradient(160deg, $mainBlue, #023652);
    border-radius: 8px;
    position: relative;
    @include flexCenter();
    overflow: hidden;
    &:hover {
      box-shadow: 10px 10px 15px $mainBlue;
      //   overflow: hidden;
    }

    .inner-container {
      @include flexCenter();
      width: 80%;
      margin: 20px auto;
      height: auto;
      padding: 3px;

      //   img {
      //     width: 250px;
      //     height: 200px;
      //   }
      .learn-more-container {
        z-index: 10;
        position: absolute;
        background: rgba($color: $mainBlue, $alpha: 0.9);
        width: 100%;
        height: 100%;
        @include flexCenter();
        display: none;

        .learn-more {
          text-decoration: none;
          border: 1px solid $contrastColor;
          border-radius: 5px;
          padding: 10px;
          color: $contrastColor;
          margin: 5%;
        }
        .code {
          @extend .learn-more;
        }
      }

      &:hover {
        img {
          transform: scale(1.3, 1.3);
          transition: $animate;
        }
        .learn-more-container {
          display: flex;
        }
        & a:hover {
          background: $darkBackcolor;
          color: $mainBlue;
        }
      }
    }
    span {
      display: inline-block;
      color: $contrastColor;
      position: absolute;
      bottom: 3px;
      text-transform: uppercase;
      font-size: 0.8em;
      font-style: italic;
    }
  }
}
#about {
  background: $mainBlue;
  color: $darkBackcolor;
  h1 {
    text-align: center;
    margin: 40px 0px;
    padding-top: 30px;
    font-size: $headFontSize;
    color: $contrastColor;
  }
  .about-container {
  }
  .about-wrapper {
    height: 60vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 400px auto;
    column-gap: 1em;
  }
  .personal {
    margin: 30px 50px 30px;
    padding: 20px;
    background: #011c2b;
    border-radius: 10px;
    height: fit-content;
    b {
      font-size: 0.8em;
      text-transform: uppercase;
    }
    p {
      font-size: 1.1em;
    }
  }
  .profile {
    margin: 20px;
    padding: 10px 40px;
    p {
      font-size: $regFontSize;
    }
  }
  .competencies-container {
    background: $contrastColor;
    color: $mainBlue;
    height: 60vh;

    h2 {
      text-align: center;
      margin: 40px 0px;
      padding-top: 60px;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      b {
        font-size: 1.2em;
      }
    }
    .competencies {
      width: 55%;
      margin: 0px auto;
      p {
        margin-bottom: 12px;
        font-size: $regFontSize;
      }
    }
  }
}
#contact {
  height: 85vh;
  background: #ececec;
  h1 {
    text-align: center;
    padding-top: 30px;
    font-size: $headFontSize;
    color: $mainBlue;
  }
  .contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 50%;
    margin: auto;
    padding: 10px 20px 50px 20px;

    label {
      display: block;
      text-transform: uppercase;
      b {
        font-size: 0.8em;
        letter-spacing: 0.1em;
      }
    }
    input {
      padding: 16px;
      margin-bottom: 15px;
      font-size: $formFont;
      background: $formInput;
      border: none;
      border-radius: 3px;
    }
    textarea {
      padding: 10px 5px 5px 5px;
      font-size: $formFont;
      background: $formInput;
      border: none;
      border-radius: 3px;
      resize: vertical;
    }
    #send-inquiry {
      padding: 15px;
      text-transform: uppercase;
      margin-top: 20px;
      background: $mainBlue;
      color: $contrastColor;
      border: none;
      border-radius: 5px;
      &:hover {
        background: $contrastColor;
        color: $mainBlue;
        transition: $animate;
        b {
          font-size: 0.9em;
        }
      }
      b {
        font-size: 0.8em;
      }
      transition: all 0.3s ease-in-out;
    }
  }
}
footer {
  width: 80%;
  margin: auto;
  .footer-container {
    height: 17vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
  }
  a {
    text-decoration: none;
  }
  b {
    color: $footerColor;
  }
  .copy {
    color: $footerColor;
  }
}

/********** Large Device**********/
@media (min-width: 991px) {
  #home {
    // background-position-y: 70em;
  }
  #projects {
    height: auto;

    .grid-wrapper {
      width: 70%;
      display: flex;
      justify-content: center;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      column-gap: 2.5em;
      row-gap: 2.5em;
    }
  }
}

/********** Desktop**********/
@media (min-width: 767px) and (max-width: 991px) {
  #projects {
    height: auto;
    .grid-wrapper {
      width: 70%;
      display: flex;
      justify-content: center;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      column-gap: 2.5em;
      row-gap: 2.5em;
    }
  }
  #contact {
    .contact-container {
      width: 70%;
    }
  }
}
/*******Tablet devices********/
@media (min-width: 575px) and (max-width: 767px) {
  .external-links {
    @include externalSmalldevice();
  }
  #about {
    .about-wrapper {
      height: auto;
      display: flex;
      flex-direction: column;
      .personal {
        width: fit-content;
        margin: 0px auto;
      }
    }
  }
  #projects {
    height: auto;
    .grid-wrapper {
      width: 80%;
      display: flex;
      justify-content: center;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      column-gap: 1em;
      row-gap: 1em;
    }
  }
  #contact {
    height: 90vh;
    .contact-container {
      width: 80%;
    }
  }
  footer {
    width: 80%;
    margin: auto;
    .footer-container {
      height: 10vh;
      padding-top: 5px;
      b {
        display: none;
      }
    }
  }
}

/********** Mobile phones**********/
@media (max-width: 575px) {
  nav {
    //   height: 70vh;
    //   width: 20em;
    float: left;
    position: sticky;
    z-index: 3;
    top: 0px;
    left: 0px;
    // border: 2px solid white;

    .nav-container {
      .toggler {
        position: sticky;
        width: 50px;
        height: 50px;
        @include topLeftZ();
        z-index: 2;
        opacity: 0;
        cursor: pointer;

        &:checked + .hamburger > div {
          transform: rotate(135deg);
          transition: $animate;
          background-color: $menuBackground;

          //Make an X on check
          //collapse and extend div rotation
          &::before,
          &::after {
            top: 0;
            transform: rotate(90deg);
          }
        }
        &:checked:hover + .hamburger > div {
          transform: rotate(360deg);
          transition: $animate;
        }
        &:checked ~ .menu {
          display: flex;
          pointer-events: all;
        }
        &:checked ~ .menu > .overlay {
          transform: scale(1);
          transition: $animate;
          transition-duration: $transitionSpeed;
        }
        &:checked ~ .menu > .overlay > div {
          //    opacity: 0.75;
        }
      }
      .hamburger {
        position: absolute;
        @include topLeftZ();
        @include flexCenter();
        z-index: 1;
        background-color: rgba($color: #ffffff, $alpha: 0.5);
        border-radius: 5px;
        box-shadow: -3px 3px 10px $mainBlue;
        width: 60px;
        height: 60px;
        padding: 1em 1rem;

        > div {
          position: relative;
          background-color: $mainBlue;
          height: 2px;
          width: 100%;

          &::before,
          &::after {
            content: "";
            height: 2px;
            width: 100%;
            background: inherit;
            position: absolute;
            top: -10px;
            z-index: 1;
          }
          //adding hamburger bottom line
          &::after {
            top: 10px;
          }
        }
      }

      .menu {
        position: absolute;
        @include topLeftZ();
        @include flexCenter();
        height: 70vh;
        width: 18em;
        overflow: hidden;
        display: flex;
        border-radius: 0px 0px 50px 15px;
        pointer-events: none;

        .overlay {
          @include flexCenter();
          height: 200vw;
          width: 150vw;
          background-color: rgba($color: $menuBackground, $alpha: 0.9);
          transform: scale(0);
          transition: $animate;
          // border-radius: 150px;
          border-radius: 60%;

          div {
            width: 100vw;
            @include flexCenter();
            flex: none;
            //   height: 70vh;
            text-align: center;

            .nav-links li {
              list-style: none;
              // justify-content: space-around;
              margin: 15px;
              padding: 0.75em 0.75rem;
              color: $darkBackcolor;
              width: 100%;
              border-radius: 10px;

              &:hover {
                color: $auto;
                background-color: $contrastColor;
              }
              a {
                text-decoration: none;
                color: inherit;
                font-size: 1.8em;
                font-weight: 500;
                width: 20em;
              }
            }
          }
        }
      }
    }
  }
  .external-links {
    @include externalSmalldevice();
  }
  #home {
    .home-container {
      padding: 20px;
    }
  }
  #about {
    .about-wrapper {
      display: flex;
      flex-direction: column;
      .personal {
        width: fit-content;
        margin: 0px 20px;
      }
      .profile {
        margin: 15px;
        padding: 15px;
        font: size 0.7em;
      }
    }
  }
  #projects {
    height: auto;
    .grid-wrapper {
      width: 70%;
      display: flex;
      justify-content: center;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      column-gap: 2.5em;
      row-gap: 2.5em;
    }
  }
  #about {
    .about-wrapper {
      height: auto;
    }
    .competencies-container {
      height: auto;
      padding-bottom: 10px;
    }
  }
  #contact {
    height: auto;
    .contact-container {
      width: 90%;
    }
  }
  footer {
    width: 90%;
    margin: auto;
    .footer-container {
      b {
        display: none;
      }
    }
  }
}
