.message {
  @include vhflexCenter();
  background: $contrastColor;
  color: $mainBlue;
}
.content {
  padding: 4em;
  p {
    font-size: $messegeFontSize;
    text-shadow: #cbcbcb;
    font-weight: 600;
  }
}

/********** Mobile phones**********/
@media (max-width: 575px) {
  .content {
    padding: 1.5em;
    p {
      font-size: 2.8em;
    }
  }
}
