$fontFamily: "Fira Sans", sans-serif;
$regFontSize: 1.2em;
$headFontSize: 2.8em;
$messegeFontSize: 3em;
$formFont: 1em;
$darkBackcolor: #ffffff;
$contrastColor: #eeef20;
$mainBlue: #012132;
$auto: #000000;
$menuBackground: #000000;
$formInput: #cbcbcb;
$footerColor: #989898;
$animate: all 0.4s ease;
$transitionSpeed: 0.45s;
